{{ define "main" }}
  <section class="section mt-24 sm:mt-20" data-aos="fade-up-sm">
    <div class="container">
      <div class="mb-24" data-aos="fade-up-sm">
        {{ with .Params.subtitle }}
          <p
            class="text-primary text-base-sm mb-4 text-left"
            data-aos="fade-up-sm">
            {{ . | markdownify }}
          </p>
        {{ end }}

        {{ with .Title }} 
          <h1
            class="text-h3 md:text-h2 lg:text-h1 text-left"
            data-aos="fade-up-sm">
            {{ partial "components/decorated-heading" (dict
              "text" .
              )
            }}
          </h1>
        {{ end }}
      </div>
      <div class="row justify-center lg:justify-between g-5">
        <div class="col-12 lg:col-6 order-2 lg:order-1" data-aos="fade-up-sm">
          <div
            class="p-10 bg-light rounded-lg"
            data-aos="fade-up-sm"
            data-aos-delay="100">
            <form action="{{ site.Params.contact_form_action }}" method="POST">
              <div class="row">
                <div class="col-12">
                  <div class="mb-6" data-aos="fade-up-sm" data-aos-delay="120">
                    <label for="f-name" class="form-label"> First Name </label>
                    <input
                      id="f-name"
                      name="f-name"
                      class="form-input"
                      placeholder="Your First Name"
                      type="text"
                      required />
                  </div>
                </div>
                <div class="col-12">
                  <div class="mb-6" data-aos="fade-up-sm" data-aos-delay="140">
                    <label for="l-name" class="form-label"> Last Name </label>
                    <input
                      id="l-name"
                      name="l-name"
                      class="form-input"
                      placeholder="Your Last Name"
                      type="text"
                      required />
                  </div>
                </div>
                <div class="col-12">
                  <div class="mb-6" data-aos="fade-up-sm" data-aos-delay="160">
                    <label for="email" class="form-label">
                      Email Address
                    </label>
                    <input
                      id="email"
                      name="email"
                      class="form-input"
                      placeholder="Your Email Address"
                      type="email"
                      required />
                  </div>
                </div>
                <div class="col-12">
                  <div class="mb-6" data-aos="fade-up-sm" data-aos-delay="180">
                    <label for="message" class="form-label"> Message </label>
                    <textarea
                      id="message"
                      name="message"
                      class="form-input"
                      placeholder="How can we help you?"
                      rows="9"
                      required></textarea>
                  </div>
                </div>
                <div class="col" data-aos="fade-up-sm" data-aos-delay="200">
                  {{ partial "components/custom-button" (dict "label" "Make An Appointment" "variant" "primary" "button_type" "submit") }}
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-12 lg:col-6 order-1 lg:order-2" data-aos="fade-up-sm">
          <h2 class="mb-10 h4" data-aos="fade-up-sm" data-aos-delay="100">
            Contact us directly
          </h2>
          {{ range $index, $contact := .Params.contact_way }}
            <div
              class="flex items-center gap-3 mb-6 last:mb-0"
              data-aos="fade-up-sm"
              data-aos-delay="{{ add 100 (mul $index 20) }}">
              {{ if $contact.icon }}
                {{ partial "helpers/dynamic-icon" (dict "icon" $contact.icon "className" "mr-4 shrink-0 text-primary text-xl") }}
              {{ end }}
              <p class="mb-0">{{ $contact.value | markdownify }}</p>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>

  <!-- Call to action -->
  {{ partial "call-to-action.html" . }}
  <!-- /Call to action -->
{{ end }}
